<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article | Home</title>
    </head>
    <body>
        <h3>Liste des Pins</h3>
        <article>
            {% for pin in listPins %}
                <h2>{{ pin.titre() }}</h2>
                <p>{{ pin.description() }}</p>

            {% endfor %}
        </article>

    </body>
</html>
